/* style.css */


/* Import fonts. */

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --color-bright-orange: hsl(31, 77%, 52%);
  --color-dark-cyan: hsl(184, 100%, 22%);
  --color-very-dark-cyan: hsl(179, 100%, 13%);

  --color-white: hsl(0, 0%, 100%);
  --color-transparent-white: hsla(0, 0%, 100%, 0.75);
  --color-very-light-gray: hsl(0, 0%, 95%);

  --base-font-size: calc((15 / 16) * 1rem);

  background-color: var(--color-very-light-gray);
  font-family: "Lexend Deca", sans-serif;
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: 1.5;
}

:is(*, *::before, *::after) {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:is(html, body) {
  height: 100%;
}

:is(img, svg) {
  display: block;
  max-width: 100%;
}

:is(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/* Center the card group. */

main {
  display: grid;
  min-height: 100%;
  place-items: center;
}

.card-group {
  background-color: var(--color-very-light-gray);
  display: grid;
  justify-content: center;
  overflow: hidden;
  padding: 1rem;
}

.card {
  padding: 3em;
}

.card img {
  height: 2.5rem;
}

.card p {
  color: var(--color-transparent-white);
  margin-bottom: 2rem;
  max-width: 23ch;
}

.card h2 {
  color: var(--color-very-light-gray);
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.5em;
  font-weight: 700;
  margin-block: 1rem;
}

.card button {
  background-color: var(--color-very-light-gray);
  border-radius: 2em;
  border-style: solid;
  border-width: 2px;
  font: inherit;
  padding: 0.75em 2em;
}

.card button:hover {
  background-color: transparent;
  border-color: var(--color-white);
  color: var(--color-white);
}

.card--sedans {
  background-color: var(--color-bright-orange);
  border-radius: 0.75em 0.75em 0 0;
}

.card--sedans button {
  border-color: var(--color-bright-orange);
  color: var(--color-bright-orange);
}

.card--suvs {
  background-color: var(--color-dark-cyan);
}

.card--suvs button {
  border-color: var(--color-dark-cyan);
  color: var(--color-dark-cyan);
}

.card--luxury {
  background-color: var(--color-very-dark-cyan);
  border-radius: 0 0 0.75em 0.75em;
}

.card--luxury button {
  border-color: var(--color-very-dark-cyan);
  color: var(--color-very-dark-cyan);
}

/* Break point adjustments. */

@media (min-width: 1000px) {

  /* Set card group to horizontal layout. */

  .card-group {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    max-width: 1440px;
  }

  /* 
    Push the button down to create 
      more space with the paragraph. 
  */

  .card button {
    margin-top: 3rem;
  }

  /* Adjust border radius on cards. */

  .card--sedans {
    border-radius: 0.75em 0 0 0.75em;
  }

  .card--luxury {
    border-radius: 0 0.75em 0.75em 0;
  }
}

/* Footer styles. */

footer {
  margin-block: 3rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
